/* Import SCSS file */
@import "./_mixin.scss";
@import "./_base.scss";
@import "./_box.scss";

.main {
  padding: 20px;
  /* Reference an image file */
  background: url("../img/background.png");
}

.box {
  display: flex;
  z-index: 10;
}

.layer {
  z-index: 1000;
}